.form-section {
  padding: 1em 2em;
  display: flex;
  justify-content: center;
}

/* .form-section h2 {
  text-align: center;
} */

.form-wrapper {
  width: 20em;
}

.form label {
  margin-bottom: .5em;
}

.form input, .form select {
  margin-bottom: .75em;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-submit {
  display: flex;
  justify-content: center;
}

.field-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field-wrapper > select {
  min-width: 14.45em; /* TODO - fix hack */
}

@media screen and (max-width: 44em) { 
  .field-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}