@import "../settings.css";
@import "../generic.css";
@import "../elements.css";
@import "../components/header.css";
/* @import "../components/form.css"; */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--space-xs);
}

.readable {
  max-width: 40em;
}