@import "../settings.css";
@import "../generic.css";
@import "../elements.css";
@import "../utilities.css";
@import "../components/header.css";
@import "../components/form.css";
@import "../components/tag.css";
@import "../components/job-card.css";
@import "../components/heart.css";
@import "../components/error.css";

.jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobs > ul {
  padding-left: 0;
  list-style-type: none;
}

.add-job {
  text-decoration: none;
  border-radius: 5em !important;
  /* margin-top: 1em; */
}

.fab {
  z-index: 5;
  position: fixed;
  bottom: 2.5em;
  left: 70%;
}


