@import "../settings.css";
@import "../generic.css";
@import "../elements.css";
@import "../utilities.css";
@import "../components/header.css";
@import "../components/form.css";
@import "../components/tag.css";
@import "../components/job-card.css";
@import "../components/heart.css";
@import "../components/error.css";

.jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobs > ul {
  padding-left: 0;
  list-style-type: none;
}